<ion-header>
  <ion-toolbar>
    <ion-title>servicios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
    <ion-label>colonia</ion-label>
    <ion-input placeholder="ingrese colonia "></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>calle</ion-label>
    <ion-input placeholder="ingrese calle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>codigo postal</ion-label>
    <ion-input placeholder="ingrese codigo postal "></ion-input>
  </ion-item>

  

  
  <ion-item>
    <ion-label>celular </ion-label>
    <ion-input type="tel" placeholder="888-888-8888"></ion-input>
  </ion-item>
</ion-list>
<h3>fecha</h3>
<ion-datetime [isDateEnabled]="isWeekday"></ion-datetime>



<ion-content>

</ion-content>
<ion-footer>
  <ion-icon name="home-outline" [routerLink]="['/index']" ></ion-icon>
  <ion-icon name="location-outline" class="ion-text-right"></ion-icon>
</ion-footer>
