<ion-header>
  <ion-toolbar color="success">
    <ion-title>index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="success" >
        <ion-title>servicios</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" class="ion-text-start"></ion-content>
    <ion-list class="ion-padding" [routerLink]="['/servicios']">lavado</ion-list>
    <ion-list class="ion-padding" [routerLink]="['/servicios']">secado</ion-list>
    <ion-list class="ion-padding" [routerLink]="['/servicios']">planchado</ion-list>
    <ion-list></ion-list>
    
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
     
    </ion-content>
  </div>
  <br>
  <br>
  <br>

<ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://img.freepik.com/free-vector/washing-machine-laundry-set-cartoon-icon-illustration-technology-fashion-icon-concept-isolated-flat-cartoon-style_138676-2150.jpg?w=2000" height="700" width="700" />
    <ion-card-header>
      <ion-card-title>LAVANDERIA IMPECABLE</ion-card-title>
      <ion-card-subtitle>No se deje engañar, le dejaramos rechinando su ropa de limpia </ion-card-subtitle>
    </ion-card-header>

  </ion-card>
</ion-header> 

